<div class="small-12 columns center_text top-text">
  <%= "CHANGE THIS TO THE CLASS NAME" %>
  <!-- <a href="#" class="button"></a> -->
  <div class="row right_text">
    <i class="fi-torsos-all"></i> <i class="fi-page-filled"></i>
  </div>

  <%- @assignments.each do |assignment| %>
    <div class="row">
      <div class="small-3 columns blue_box">
        <%= assignment.date %>
      </div>
      <div class="small-9 columns green_box">
        <%= assignment.title %>
      </div>
    </div>
  <%- end %>
</div>
