
<div class="small-12 columns center_text top-text">
  <%= "CHANGE THIS TO THE CLASS NAME" %>
  <!-- <a href="#" class="button"></a> -->
</div>

<div class="row right_text white_text">
  <%= link_to section_students_path(params[:section_id]) do %>
    <i class="fi-torsos-all icon"></i>
  <% end %>
  <i class="fi-page-filled icon"></i>
</div>
<div class="row">
  <div class="panel">
    <div class="small-12 columns">
      <div class="small-3 columns white_text padded_column">
        <div class="blue_box column_content">
          06/28/2015
        </div>
      </div>
      <div class="small-9 columns padded_column white_text">
        <div class="green_box column_content">
          This assignment
        </div>
      </div>
    </div>
  </div>
</div>
