<div class="row">
  <div class="small-12 columns center_text top-text">
      <%= Time.now.strftime("%B %d") %> <i class="fi-calendar"></i>
  </div>
  <%- @sections.each do |section| %>
    <div class="small-12 columns top-text">
      <div class="button expand">
        <%= link_to section.name, section_students_path(section) %>
      </div>
    </div>
  <!-- <a href="#" class="button"></a> -->
  <%- end %>
</div>
