/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

.button a {
  color: #FFF;
}

.password-form-labels {
  font-weight: bold;
  font-size: 20px;
  vertical-align: text-top;
}
.top-bar .name h1 a {
  color: #2A7CA8;
  font-family: "Georgia", serif;
  font-size: 35px;
}
.panel {
  background-color: #FAFAFA;
  padding-bottom: 90px;
}
.name span a {
  color: #2A7CA8;
}
.icon2 {
  color: white;
  font-size: 120px;
  text-align: center;
}
.center_text {
  padding-top: 22px;
}
.top-text{
  color: #FFF;
  font-size: 35px;
  font-family: 'Montserrat', sans-serif;
}
.center_text{
  text-align: center;
}
.white_text {
  color: white;
  font-size: 25px;
}
.right_text {
  text-align: right;
}
.padded_column {
  padding:5px;
}
.blue_box {
  background-color: #00BADF;
}
.green_box {
  background-color: #00C569;
  padding-left: 20px;
}


.column_content {
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 10px;
  font-family: 'Oxygen', sans-serif;
}
body {
    /*background-color: #275B78;*/
    /*background: linear-gradient(to bottom right, #397996 , #235673);*/

  /* fallback */
  background-color: #2F2727;
  background-image: url(images/radial_bg.png);
  background-position: center center;
  background-repeat: no-repeat;

  /* Safari 4-5, Chrome 1-9 */
  /* Can't specify a percentage size? Laaaaaame. */
  background: -webkit-gradient(radial, center center, 0, center center, 460, from(#6DB0D4), to(#2A7CA8));

  /* Safari 5.1+, Chrome 10+ */
  background: -webkit-radial-gradient(circle, #6DB0D4, #2A7CA8);

  /* Firefox 3.6+ */
  background: -moz-radial-gradient(circle, #6DB0D4, #2A7CA8);

  /* IE 10 */
  background: -ms-radial-gradient(circle, #6DB0D4, #2A7CA8);

  /* Opera couldn't do radial gradients, then at some point they started supporting the -webkit- syntax, how it kinda does but it's kinda broken (doesn't do sizing) */
}
.landing_page{
  height: 60%;
  background-image: url("student.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

